.main{
    background-color: inherit;
}


.main .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 32px;
    max-width: calc(100vw - 644px);

    margin: 8px 19px 8px 8px;
    padding: 6px 12px;

    border-radius: 4px;
    border: 1px solid #E6E6E6;

    background-color: #fff;

    overflow-x: hidden
}
.main .header .title{
    text-align: left;

    font-size: 20px;
    font-weight: 600;

    margin-right: 0.75em;
}
.main .header .title .loading{
    color: gray;
}
.main .header .zoom_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding: 0.5em 0.25em;

    user-select: none;
}
.main .header .zoom_options:hover{
    background-color: #F5F5F5;
}
.main .header .zoom_options .zoom_in_img{
    max-width: 18px;
    max-height: 18px;
    margin: 0 4px;
}
.main .header .zoom_options .dropdown_img{
    max-width: 10px;
    max-height: 10px;
    margin: 0 4px;
}

.main .body_container{
    max-height: calc(100vh - 192px);
    max-width: calc(100vw - 644px);

    border-radius: 4px;

    margin: 0 7px 8px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main .body_container .body{
    display: grid;
    grid-template-columns: 52px 1fr;

    border-radius: 4px;
    border: 1px solid #D1D1D1;

    padding: 0 12px 0.75em 12px;
    margin-bottom: 4em;

    background-color: #fff;

    
}

.main .body_container .body .profile_icon_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: 16px 12px 0 0;

    user-select: none;
}
.main .body_container .body .profile_icon_container .profile_icon{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px;
    min-height: 40px;

    border-radius: 50%;
}
.main .body_container .body .profile_icon_container .profile_icon .text{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.main .body_container .body .content{
    padding: 7px 0 0 0;
    
}

.main .body_container .body .content .first_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    user-select: none;
}
.main .body_container .body .content .first_row .author{
    text-align: left;
    padding-top: 9px;
    font-size: 16px;
}
.main .body_container .body .content .first_row .actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.main .body_container .body .content .first_row .actions .action{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 2px;
    padding: 0 4px;
    min-width: 24px;
    min-height: 32px;

    border-radius: 4px;
}
.main .body_container .body .content .first_row .actions .action:hover{
    background-color: #EBF3FC;
}
.main .body_container .body .content .first_row .actions .action .img{
    max-width: 18px;
    max-height: 18px;
    margin: 0 4px;
}

.main .body_container .body .content .second_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 28px;
    margin-top: 0.2em;

    user-select: none;
}
.main .body_container .body .content .likes{
    text-align: left;

    font-size: 14px;
}
.main .body_container .body .content .likes .score{
    font-weight: bold;
    color: #424242;
}
.main .body_container .body .content .time{
    text-align: right;
    font-size: 12px;
    color: #808080;
}


.main .body_container .body .main_content .body_text{
    word-wrap: break-word;
    overflow-wrap: break-word;

    margin: 12px 4px 1.5em 0;
    text-align: left;
    font-size: 14px;

    line-height: 1.6;
}
.main .body_container .body .main_content .body_text div > *{
    max-width: calc(100vw - 708px);

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}
.main .body_container .body .main_content .body_text div span:global(.md-spoiler-text){
    background-color: rgb(220, 220, 220);
    color: rgb(220, 220, 220);

    transition: 0.2s;
}
.main .body_container .body .main_content .body_text div span:global(.md-spoiler-text):hover{
    background-color: white;
    color: #000;
}

.main .body_container .body .main_content .expanded_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    padding: 1em 0;
}
.main .body_container .body .main_content .expanded_img_container:hover{
    cursor: pointer;
}
.main .body_container .body .main_content .expanded_img_container .img{
    max-width: calc(100vw - 750px);
    max-height: calc(100vh - 300px);

    border-radius: 4px;
}

.main .body_container .body .main_content .img_list{
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;

    margin: 12px 4px 1.5em 0;
}

.main .body_container .body .main_content .small_video_container{
    display: flex;
    justify-content: flex-start;

    margin: 12px 4px 1.5em 0;
}

.main .body_container .body .main_content .img_single{
    display: flex;
    justify-content: flex-start;

    margin: 12px 4px 1.5em 0;
}

.main .body_container .body .main_content .url_text{
    display: flex;
    justify-content: flex-start;

    margin: 12px 4px 1.5em 0;
}
.main .body_container .body .main_content .url_text .hyperlink{
    text-align: left;
    font-size: 12px;
}

.main .comment_num{
    display: flex;
    align-self: flex-start;

    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 0.5em;
}

.main .bottom_actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-top: 12px;

    user-select: none;
}
.main .bottom_actions .action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 6px 10px;
    margin: 4px 4px 0 0;

    border: 1px solid #E0E0E0;
    border-radius: 4px;

    background-color: #fff;
}
.main .bottom_actions .action:hover{
    background-color: #EBF3FC;
}
.main .bottom_actions .action .img{
    max-width: 16px;
    max-height: 16px;

    margin: 0 8px 0 4px;
}
.main .bottom_actions .action .text{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.main .unselected_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}
.main .unselected_container .img{

}
.main .unselected_container .text_bold{
    font-weight: 600;
    font-size: 14px;
    color: #424242;
    padding-top: 0.5em;
}
.main .unselected_container .text{
    font-size: 14px;
    padding-top: 0.2em;
}