.main{

    user-select: none;

    margin-top: 8px;
    background-color: inherit;
    border: 1px solid #F0F0F0;
    border-radius: 4px 4px 0 0;
}

.main .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: inherit;
    min-height: 44px;

    padding: 0 15px 0 12px;

    background-color: #fff;

    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e6e6e6;
}

.main .header .checkmark_img_container{
    min-width: 28px;
    min-height: 28px;
}
.main .header .checkmark_img_container .img{
    max-width: 24px;
    max-height: 24px;
}

.main .header .section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-height: 16px;

    padding: 8px 12px;
    border-radius: 5px 5px 0 0;

    background-color: inherit;
}
.main .header .section:hover{
    background-color: #f5f5f5;
}
.main .header .focused{
    font-weight: 600;
    border-bottom: 2px solid #0F6CBD;
    margin-bottom: -2px;
}
.main .header .section .text{
    font-weight: inherit;
    margin-right: 0.5em;
}
.main .header .section .email_num{
    font-weight: 600;
    font-size: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 3px 4px;
}

.main .header .filter_container{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    float: right;
    margin-left: auto;
    padding: 8px 12px;

    border-radius: 5px;

    background-color: inherit;
}
.main .header .filter_container:hover{
    background-color: #f5f5f5;
}
.main .header .filter_container .img_container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 7px;
}
.main .header .filter_container .img_container .img{
    max-width: 22px;
    max-height: 22px;
}
.main .header .filter_container .text{
    font-size: 14px;
}
.main .header .filter_dropdown{
    position: absolute;

    top: 38px;
    left: 0px;
    width: 180px;
    z-index: 999;
    border-radius: 8px;

    box-shadow: 0 8px 16px rgb(0 0 0 / 14%), 0 0 2px rgb(0 0 0 / 12%);
    background-color: #fff;

    transition: 0.1s;
}
.main .header .filter_dropdown > .type_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    min-height: 36px;
    padding: 0 0.5em 0 0.25em;
}
.main .header .filter_dropdown > .type_container:hover{
    background-color: #F5F5F5;
}
.main .header .filter_dropdown > .type_container .checked_container{

}
.main .header .filter_dropdown > .type_container .image_container{

}
.main .header .filter_dropdown > .type_container .text{

}

.main .email_list{
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    height: 100%;

    background-color: #fff;
}

.main .email_list .subreddit_title{
    display: flex;
    flex-direction: column;

    max-width: 328px;
    height: 38px;

    padding: 9px 0 12px calc(3em + 6px);

    background-color: #FAFAFA;
}
.main .email_list .subreddit_title:hover{
    background-color: #f0f0f0;
}

.main .email_list .subreddit_title .top_text{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.main .email_list .subreddit_title .subreddit_text{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #0F6CBD;
}

.main .no_emails_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-height: calc(100vh - 360px);
    height: 100%;
}
.main .no_emails_container .img{
    
}
.main .no_emails_container .text_bold{
    font-weight: 600;
    font-size: 14px;
    color: #424242;
    padding-top: 0.5em;
}
.main .no_emails_container .text{
    font-size: 14px;
    padding-top: 0.2em;
}