.main{
    display: grid;
    grid-template-columns: 58px 142px;
    align-items: center;

    width: 100%;
    min-height: 40px;

    margin-left: 8px;

    border-radius: 5px;
    cursor: pointer;
}
.main:hover{
    background-color: #F0F0F0;
}

.main .img_container{
    display: flex;
    justify-content: flex-end;
}
.main .img_container .img{
    max-width: 18px;
    max-height: 18px;
}

.main .text_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.main .text_container .title{
    text-align: left;

    padding: 0 0 0 8px;

    font-size: 14px;
    color: #2C2C2C;
}

.main .text_container .unread_num{
    text-align: right;

    font-size: 14px;
    font-weight: 350;
    color: #424242;
}
.main .text_container .unread_num.highlighted{
    font-weight: 600;
    color: #0f548c;
}