.main{
    display: grid;
    grid-template-columns: 58px 142px;
    align-items: center;

    width: 100%;
    max-width: 219px;
    min-height: 40px;

    margin-left: 8px;

    border-radius: 5px;
    cursor: pointer;
}
.main.focused{
    background-color: #CFE4FA;
    font-weight: 600;
}
.main:hover{
    background-color: #F0F0F0;
}

.main .img_container{
    display: flex;
    justify-content: flex-end;
}
.main .img_container .img{
    max-width: 20px;
    max-height: 20px;
}

.main .text_container{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    padding: 0 0px 0 8px;

    width: 129px;
}

.main .text_container .title{
    display: inline-block;

    text-align: left;

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #424242;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main .text_container .unread_num{
    text-align: right;

    padding-left: 8px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 350;
    color: #424242;
}
.main .text_container .unread_num.highlighted{
    font-weight: 600;
    color: #0f548c;
}