.main{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 1em 0 0;
    opacity: 0.2;

    transition: 0.2s;

    user-select: none;
}
.main:hover{
    opacity: 1;
}

.main .img{
    max-width: 7.5em;
    border-radius: 3px;
}
.main .img:hover{
    cursor: pointer;
}