.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 80px;
    user-select: none;
}

.header .tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: 36px;
}
.header .tabs > .tab_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 68.5px;

    margin-bottom: 5px;
}
.header .tabs > .tab_container:hover{
    background-color: #F0F0F0;
    font-weight: 600;
}
.header .tabs > .tab_container .tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 38.5px;
    min-height: 28px;

    margin: 0 15px 0 15px;

    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 0 0 3px 0;
}
.header .tabs > .tab_container:first-of-type .tab{
    font-weight: 600;
    border-color: #0F6CBD;
}

.header .tabs > .tab_container .tab .text{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #242424;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.header .ribbon_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 44px;
}
.header .ribbon_container .ribbon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 40px;
    padding: 0 0 0 4px;
    margin: 0 0 4px 8px;

    border-radius: 4px;

    box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px
}
.header .ribbon_container .ribbon .new_email_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    min-width: 172px;
    height: inherit;

    background-color: white;
}
.header .ribbon_container .ribbon .new_email_container .new_email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    background-color: #0F6CBD;
    border-radius: 5px 0 0 5px;

    min-height: 30px;
    padding: 1px 12px 1px 9px;
    margin-right: 1px;
}
.header .ribbon_container .ribbon .new_email_container .new_email:hover{
    background-color: #0F548C;
}

.header .ribbon_container .ribbon .new_email_container .new_email .img{
    max-width: 20px;
    max-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.header .ribbon_container .ribbon .new_email_container .new_email .text{

    min-width: 65px;
    margin: 0 2px 0 10px;
    /* margin-left: 10px; */

    color: white;
    font-size: 14px;
}
.header .ribbon_container .ribbon .new_email_container .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 28px;
    min-height: 32px;

    background-color: #0F6CBD;
    border-radius: 0 5px 5px 0;
}
.header .ribbon_container .ribbon .new_email_container .dropdown:hover{
    background-color: #0F548C;
}
.header .ribbon_container .ribbon .new_email_container .dropdown .img{
    min-width: 18px;
    min-height: 18px;
}

.header .ribbon_container .ribbon .quick_steps_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    min-width: 127px;
    min-height: 34px;

    border-radius: 5px;
    border: 1px solid #E5E5E5;

    margin-right: 4px;

    background-color: #fff;
}
.header .ribbon_container .ribbon .quick_steps_container .action{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-width: 33px;
    min-height: 34px;

    border-right: 1px solid #E5E5E5;
}
.header .ribbon_container .ribbon .quick_steps_container .action .img{
    min-width: 24px;
    width: 100%;
    min-height: 24px;
    height: 100%;
    margin-left: 4px;
}
.header .ribbon_container .ribbon .quick_steps_container .action .title{
    margin: 0 7px 0 3px;
    white-space: nowrap;
    font-size: 14px;
    user-select: none;
}
.header .ribbon_container .ribbon .quick_steps_container .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20px;
}
.header .ribbon_container .ribbon .quick_steps_container .dropdown .img{
    max-width: 10px;
    max-height: 10px;
}

.header .ribbon_container .ribbon_dropdown{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    min-width: 20px;
    min-height: 40px;
}
.header .ribbon_container .ribbon_dropdown .img{
    max-width: 10px;
    width: 100%;
    max-height: 10px;
    height: 100%;
}