.main{
    /* background-color: rgb(206, 206, 206); */
    background-color: inherit;
    padding-top: 4px;

    overflow-y: scroll;
    overflow-x: hidden;

    user-select: none;

    padding: 0 19px 2em 0;
}