.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 1em;
    padding: 0 0 0 0.75em;

    /* border-left: 2px solid #7a7a7a; */
    border-left: 2px solid #acacac;
}
.main.topmost{
    margin-bottom: 1.5em;
}
.main.bottommost{
    margin-bottom: 0;
}

.main .author{
    text-align: left;

    font-size: 12px;
    color: rgb(125, 125, 125);
}
.main .author.op{
    text-decoration: underline;
}

.main .body_text{
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.main .body_text div > p{
    max-width: calc(100vw - 728px - (var(--depth) * (0.75em + 2px)));

    overflow-wrap: normal;
    word-wrap: normal;

    margin: 8px 0 12px 0 !important;
}
.main .body_text div img{
    opacity: 0.1;
    transition: 0.25s;
}
.main .body_text div img:hover{
    opacity: 1;
}
.main .body_text div span.spoiler{
    background-color: rgb(220, 220, 220);
    color: rgb(220, 220, 220);
    user-select: none;
    transition: 0.2s;
}
.main .body_text div span.spoiler:hover{
    cursor: pointer;
}
